@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: #EEEEEE;
  --bg:#F5F5F5;
  --light-black: #1B222C;
  --stroke: #DBDBDB;
  --grey: #707070;
  --blue: #5D84B8;
  --blue-light: #1877F2;
  --light-grey-tp:  rgba(99, 99, 99, 0.35);
  --secondary: #FF8C00;
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg);
  font-family: 'Inter', sans-serif;

}


@layer utilities{
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

}